body {
  background-color: rgb(95, 94, 94);
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  color: rgb(206, 206, 206);
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
}

h2 {
  text-decoration: none;
  font-size: 2rem;
}

p {
  color: white;
}

input {
  font-size: 20px;
  border-radius: 1.2rem;
  padding-left: 1rem;
}

.button {
  margin: 1rem;
  border-radius: 1.2rem;
  font-size: 1rem;
  padding: 5px;
}

.saludo {
  text-align: center;
  font-size: 2rem;
}

.cNombre {
  font-size: 5rem;
  padding-top: 2rem;
}

.nn {
  display: none;
}

.menu {
  text-align: center;
}

.card-text {
  color: black;
}

.card-title {
  text-transform: capitalize;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  margin: 0 2rem 2rem 2rem;
  justify-content: center;
}
.col-sm-6 {
  align-items: center;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.tituloModel {
  display: flex;
  justify-content: space-between;
}

#buscarZapas {
  font-size: 16px;
  border-radius: 10px;
}

#catalogo {
  display: grid;
  align-items: center;
}

.bi-cart3 {
  color: rgb(206, 206, 206);
  font-size: 1.5rem;
  cursor: pointer;
}

.numero {
  color: #f50606;
}

.conCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
